@{
    ViewData["Title"] = "Contact Category Add/Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AddressBook_Replica.Areas.CON_ContactCategory.Models.CON_ContactCategoryModel;

<div class="row">
    <div class="col">

        <h2>@TempData["CON_ContactCategory_Insert_Msg"]</h2>

        <form asp-area="CON_ContactCategory" asp-controller="Home">

            @Html.HiddenFor(x => x.ContactCategoryID)

            <div class="form-floating mb-7">
                <input type="text" class="form-control" id="floatingInput" asp-for="ContactCategory" placeholder="Friend" />
                <label for="floatingInput"><span class="text-danger">*</span>Contact Category</label>
                <span asp-validation-for="ContactCategory" class="text-danger"></span>
            </div>

            @Html.HiddenFor(x => x.CreationDate)
            @Html.HiddenFor(x => x.ModificationDate)

            <div class="row">
                <div class="col-2">
                    <button type="submit" class="btn btn-outline-success" asp-action="Save">Save</button>
                </div>
                <div class="col-2">
                    <a class="btn btn-outline-danger" asp-action="Index">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}